header-icon {

    .bad {
        position: absolute;
        padding: 2px 4px;
        font-size: 10px;
        margin-left: 3px;
        top: 0;
        right: 0px !important;
        min-width: 20px;
        line-height: 9px;
        background: #aa459d;
      }
}
