<div class="fullpage">
    <button ion-button icon-only clear color="light" class="closebutton" style="position:absolute; top:0px; left:0px; z-index:10"
        (click)="viewCtrl.dismiss()">
        <ion-icon name="close"></ion-icon>
    </button>
    <ion-slides [dir]="auth.getUserLanguage()=='en'?'':'rtl'" [pager]="true" paginationType="fraction"
        [initialSlide]="index" zoom>
        <ion-slide *ngFor="let img of imgs">

            <!-- <div class="heigh-full" [ngStyle]="{'background-image': 'url('+img.image+')'}">

            </div> -->
            <div class="swiper-zoom-container">
                <img *ngIf="img.file_type=='image'" [src]="img.name" alt="">
                <video controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline"
                    *ngIf="img.file_type=='video'" [poster]="img.thumb">
                    <source [src]="img.name" />
                </video>
            </div>

        </ion-slide>

    </ion-slides>
</div>