<ion-header>
  <ion-navbar>

    <ion-buttons start>
      <button style="min-width: unset;" ion-button menuToggle>
        <!--  <ion-icon class="icon-theme" name="md-menu"></ion-icon> -->
        <img src="../../assets/imgs/menu.png" width="20" height="20"> 
      </button>
    </ion-buttons>


    <ion-buttons end>
      <!-- <ion-badge class="bad" style="right: 9px;padding: 4px;" no-margin item-end *ngIf="auth.unread_noti>0">
        {{auth.unread_noti}}</ion-badge> -->
      <!-- <button (click)="openNoti()" style="width: 30px;min-width: unset;" ion-button>
        <ion-icon style="font-size: 32px;" class="icon-theme" name="md-notifications"></ion-icon>
        <ion-badge class="bad" no-margin item-end *ngIf="auth.unread_noti<99 && auth.unread_noti!=0">
          {{auth.unread_noti}}</ion-badge>
        <ion-badge class="bad" no-margin item-end *ngIf="auth.unread_noti>99">
          {{auth.unread_noti}}</ion-badge>
      </button> -->
      <header-icon></header-icon>
    </ion-buttons>
    <ion-title>{{'CHAT' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>

    <div class="noDatadiv" *ngIf="noData">
      <ion-icon name="ios-search-outline"></ion-icon>
      <p>{{'NO_DATA_FOUND' | translate}}</p>
    </div>
    
    <div *ngFor="let k of chatList" >
      <ion-item-sliding #item *ngIf="show(k)" (click)="details(k)">
        <ion-item class="chat_list" no-lines>
          <ion-avatar item-start>
            <img *ngIf="users['user_'+k.other_user]" [src]="users['user_'+k.other_user].image">
          </ion-avatar>
          <h3 text-capitalize>
            <span *ngIf="users['user_'+k.other_user]">{{users['user_'+k.other_user].first_name}}</span> &nbsp;
          </h3>
          <p>{{k.last_message}}</p>
          <span item-end style="font-size: 9px;color: #3370d0;">{{k.last_message_at | date:'short'}}</span>
          <ion-badge style="position: absolute;top: 2px;right: 6px;background: #af419a;" *ngIf="k.unread_msg>0"
            class="bad" no-margin item-end>{{k.unread_msg}}</ion-badge>
        </ion-item>
        <!-- <ion-item-options side="left">
          <button ion-button (click)="favorite(item)">Favorite</button>
          <button ion-button color="danger" (click)="share(item)">Share</button>
        </ion-item-options> -->
  
        <ion-item-options side="right">
          <button ion-button color="danger" (click)="deleteChat(k);$event.stopPropagation()">{{'DELETE' |
            translate}}</button>
        </ion-item-options>
      </ion-item-sliding>
    </div>
 
  </ion-list>
</ion-content>