page-send-message {
    textarea {
        width: 100%;
        height: 80%;
        resize: none;
        background: #f9f9f9;
        padding: 5px 0 0 5px;
        border-color: #ececec;
        border-width: 1px;
        color: #524b4b;
    }
    button {
        height: 25px !important;
        margin-top: 7px !important;
    }
}
