<ion-content class="back">

  <div class="Image_create">
    <img src="assets/imgs/back-pro.png" style="height: 140px;width: 100%;object-fit: cover;margin-bottom: 65px;">
    <div class="topbar">
      <!-- <button ion-button clear style="height: auto;width: 15%;">
      </button> -->
      <h3 style="width:100%; text-align: center;color: #fff;">{{'PROFILE' | translate}}</h3>
      <!-- <div style="width:15%;"></div> -->
    </div>

    <ion-item no-lines class="chat_item">
      <ion-avatar item-start>
        <div *ngIf="user" class="user_img">
          <img [src]="user.image">
        </div>
      </ion-avatar>
    </ion-item>
  </div>

  <div>
    <button (click)="opneEdit()" style="position: absolute;right: 17px;top: 156px;" ion-button clear icon-only><img
        src="../../assets/imgs/edit.png">
    </button>
  </div>

  <ion-list *ngIf="user" class="list_nw">

    <ion-item *ngIf="user.user_type==2" no-lines>
      <p>{{'FULL_NAME' | translate}}</p>
      <h2>{{user.first_name}}&nbsp;{{user.last_name}}</h2>
    </ion-item>

    <ion-item no-lines>
      <p>{{'EMAIL_ADDRESS' | translate}}</p>
      <h2>{{user.email}}</h2>
    </ion-item>

    <ion-item *ngIf="user.gender && user.user_type==2" no-lines>
      <p>{{'GENDER' | translate}}</p>
      <h2>{{user.gender}}</h2>
    </ion-item>

    <ion-item *ngIf="user.user_type==2" no-lines>
      <p>{{'DATE_OF_BIRTH' | translate}} </p>
      <h2>{{user.dob}}</h2>
    </ion-item>

    <!-- <ion-item no-lines>
      <p>Phone Number</p>
      <h2>+91 98** **** 321</h2>
    </ion-item> -->

    <ion-item no-lines>
      <p>{{'COUNTRY' | translate}}</p>
      <h2>{{user.country}}</h2>
    </ion-item>

    <ion-item *ngIf="user.user_type==2" no-lines>
      <p>{{'CATEGORY' | translate}}</p>
      <h2><span *ngFor="let item of user.category;let i= index">{{item.name}}<span
            *ngIf="i<(user.category.length-1)">,</span></span></h2>
    </ion-item>


    <ion-item no-lines *ngIf="user.user_type==1">
      <p>{{'COMPANY_NAME' | translate}}</p>
      <h2>{{user.company_name}}</h2>
    </ion-item>

    <ion-item no-lines *ngIf="user.user_type==1">
      <p>{{'COMPANY_ADDRESS' | translate}}</p>
      <h2 text-wrap>{{user.company_address}}</h2>
    </ion-item>

    <ion-item no-lines *ngIf="user.user_type==1">
      <p>{{'COMPANY_WEBSITE' | translate}}</p>
      <h2>{{user.company_website}}</h2>
    </ion-item>


    <ion-item no-lines *ngIf="user.user_type==1">
      <p>{{'ABOUT_COMPANY' | translate}}</p>
      <h2>{{user.company_desc}}</h2>
    </ion-item>


    <!-- <ion-item no-lines *ngIf="user.user_type==1">
      <p>{{'COMPANY_LOGO' | translate}}</p>
      <img [src]="user.company_logo">
    </ion-item> -->
  </ion-list>

  <!-- <div padding>
    <button class="btn-theme" ion-button block round (click)="next()">Update Profile</button>
  </div> -->

</ion-content>