<ion-header>
  <ion-navbar>
    <ion-title>{{'CONTACT_US' | translate}}</ion-title>

  </ion-navbar>
</ion-header>

<ion-content class="back" padding>
  <form [formGroup]="contactForm">
    <ion-list no-lines>

      <!-- <div style="margin-bottom: 20px;">
        <ion-item class="input_1">
          <ion-input type="email" formControlName="email" placeholder="{{'ENTER_YOUR_EMAIL_ID' | translate}}">
          </ion-input>
        </ion-item>
        <div *ngIf="contactForm.controls.email.value=='' && contactForm.controls.email.touched" style="margin-top: 8px;"
          ion-text padding-horizontal color="danger">
          {{'PLEASE_ENTER_EMAIL' | translate}}</div>
        <div
          *ngIf="!contactForm.controls.email.valid && contactForm.controls.email.value!='' && contactForm.controls.email.touched"
          style="margin-top: 8px;" ion-text padding-horizontal color="danger">{{'PLEASE_ENTER_VALID_EMAIL' |
          translate}}</div>
      </div> -->

      <div style="margin-bottom: 20px;">
        <ion-item class="input_1" no-lines>
          <textarea formControlName="msg" rows="6" placeholder="{{'TYPE_YOUR_MESSAGE_HERE' | translate}}"></textarea>
        </ion-item>
        <div *ngIf="contactForm.controls.msg.value=='' && contactForm.controls.msg.touched" style="margin-top: 8px;"
          ion-text padding-horizontal color="danger">
          {{'PLEASE_ENTER_MESSAGE' | translate}}</div>
      </div>


    </ion-list>

    <button [disabled]="!contactForm.valid" class="btn-theme" (click)="submit()" ion-button block round>{{'SUBMIT' |
      translate}}</button>
  </form>
</ion-content>