<!--
  Generated template for the SearchInfluPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{'INFLUENCERS_LIST'}}</ion-title>

    <ion-buttons end (click)="openFilter()">
      <button class="filerIconBtn" ion-button clear icon-only color="light">
        <!-- <img src="assets/imgs/filter.png" style="width: 25px;"> -->
        <ion-icon color="light" name="ios-options"></ion-icon>
      </button>

    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar> -->

  <div class="noDatadiv" *ngIf="noData">
    <ion-icon name="ios-search-outline"></ion-icon>
    <p>{{'NO_DATA_FOUND'}}</p>
  </div>
  <ion-list no-lines>
    <ion-item (click)="profile(item.id)" no-padding *ngFor="let item of influs">
      <ion-avatar item-start>
        <img [src]="item.image">
      </ion-avatar>
      <h2>{{item.first_name}}&nbsp;{{item.last_name}}</h2>
    </ion-item>
  </ion-list>
</ion-content>