page-paypal-button {
    .box {
        position: absolute;
        width: 99%;
        background-color: white;
        border-radius: 10px;
        overflow: hidden;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: all !important;
        padding: 0 13px 16px 13px !important;
        max-height: calc(100vh - 50px) !important;
        overflow-y: scroll !important;
    }
    .iframe {
        padding: 0 22px !important;
    }
}
