page-withdrawal-popup {
    .box{
        padding: 20px 20px 20px 20px; 
        height: auto;
        background-color: #fff;
        position: absolute;
        left: 6%;
        top: 20%;
        width: calc(100% - 50px);
    }
}
