<ion-header>
  <ion-navbar>
    <ion-title>{{'JOB_LIST' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="noDatadiv" *ngIf="noData">
    <ion-icon name="ios-search-outline"></ion-icon>
    <p>{{'NO_DATA_FOUND' | translate}}</p>
  </div>
  <ion-item class="job_item" no-lines no-padding *ngFor="let k of jobs">
    <ion-avatar (click)="jobdetail(k.Id)" item-start>
      <img *ngIf="k.images[0].file_type=='image'" [src]="k.images[0].name">
      <img *ngIf="k.images[0].file_type=='video'" [src]="k.images[0].thumb">
    </ion-avatar>
    <!-- <p style="color: #acacac;">Company Name, USA</p> -->
    <h2 style="color: #333;">{{k.title}}</h2>
    <h6 style="color: #575757;">${{k.price}}/ {{'MONTH' | translate}}</h6>

    <button style="width: 63px;" (click)="edit(k.Id)" ion-button round small class="btn-theme btn_view">{{'EDIT' |
      translate}}</button>
    <button ion-button round (click)="deleteJob(k.Id)" small class="btn-theme btn_view">{{'DELETE' |
      translate}}</button>
    <button (click)="openApplied(k.Id)" style="margin: 0;" ion-button round small class="btn-theme btn_view">Applied
      By</button>
  </ion-item>

</ion-content>