<div class="box">
  <h2>{{detail?.message}}</h2>
  <button ion-button icon-only clear class="closebutton" (click)="viewCtrl.dismiss()">
    <ion-icon name="close"></ion-icon>
  </button>
  <div class="container">
    <button *ngIf="media.isPlay==false && media.isLoaded==true" (click)="media.playaudio()" clear class="bttn"
      ion-button icon-only>
      <ion-icon name="play"></ion-icon>
    </button>
    <button *ngIf="media.isLoaded==false" (click)="media.playaudio()" clear class="bttn" ion-button icon-only>
      <ion-spinner></ion-spinner>
    </button>

    <button *ngIf="media.isPlay==true" (click)="media.pauseaudio()" clear class="bttn" ion-button icon-only>
      <ion-icon name="pause"></ion-icon>
    </button>
    <ion-range min="0" max="{{media.duration}}" [(ngModel)]="media.position" color="danger" pin="true"></ion-range>
    <div class="time" *ngIf="media.isLoaded==true">{{media.getMMSS(media.duration-media.position)}}</div>
  </div>

</div>