<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button small clear style="padding: 0; width: 40px;">
        <img src="assets/imgs/logo.png" style="width: 50px;height: 100%;">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>



<ion-content padding>

  <div class="login_form_div">

    <p> <span style="color: #3370d0;">{{'SIGNUP' | translate}}</span><br> {{'WITHYOUREMAIL' | translate}}
    </p>
    <form [formGroup]="companyForm" *ngIf="formData.user_type=='1'">
      <ion-list>

        <div style="margin-bottom: 20px;">
          <button class="btn-theme" (click)="edit()" style="padding: 6px;font-size: 12px;" round
            ion-button>{{'BROWSE_COMPANY_LOGO' | translate}}</button>&nbsp; <p style="font-size: 13px;display: inline;">
            {{blob_name}}</p>
          <div *ngIf="blob_name=='' && companyForm.controls.company_name.touched" style="margin-top: 8px;" ion-text padding-horizontal color="danger">
            {{'PLEASE_ADD_COMPANY_LOGO' | translate}}</div>
        </div>

        <div style="margin-bottom: 20px;">
          <ion-item class="input_1" no-padding no-lines>
            <input type="text" formControlName="company_name" placeholder="{{'COMPANY_NAME' | translate}}">
          </ion-item>
          <div *ngIf="companyForm.controls.company_name.value=='' && companyForm.controls.company_name.touched"
            style="margin-top: 8px;" ion-text padding-horizontal color="danger">
            {{'PLEASE_ENTER_COMPANY_NAME' | translate}}</div>
        </div>

        <div style="margin-bottom: 20px !important;">
          <ion-item class="input_1" no-padding no-lines>
            <input formControlName="email" type="email" placeholder="{{'ENTER_YOUR_EMAIL_ID' | translate}}" 
            [readonly]="is_social==1&&influForm.controls.email.value!=undefined">
          </ion-item>
          <div *ngIf="companyForm.controls.email.value=='' && companyForm.controls.email.touched"
            style="margin-top: 8px;" ion-text padding-horizontal color="danger">
            {{'PLEASE_ENTER_EMAIL' | translate}} </div>
          <div
            *ngIf="!companyForm.controls.email.valid && companyForm.controls.email.value!='' && companyForm.controls.email.touched"
            style="margin-top: 8px;" ion-text padding-horizontal color="danger">{{'PLEASE_ENTER_VALID_EMAIL' |
            translate}}</div>
        </div>

        <!-- <ion-item class="input_1" no-padding no-lines>
          <input type="email" companyForm="email" placeholder="Email Address">
        </ion-item> -->

        <div style="margin-bottom: 20px !important;">
          <ion-item (click)="OpenAutofillCountry()" class="input_1" no-padding no-lines>
            <input type="text" disabled style="opacity: 1 !important;" [value]="companyForm.controls.country.value"
              formControlName="country" placeholder="{{'COUNTRY' | translate}}">
          </ion-item>
          <div *ngIf="companyForm.controls.country.value=='' && companyForm.controls.country.touched"
            style="margin-top: 8px;" ion-text padding-horizontal color="danger">
            {{'PLEASE_ENTER_COUNTRY'}}</div>
        </div>

        <div style="margin-bottom: 20px !important;">
          <ion-item (click)="OpenAutofillPlaces()" class="input_1" no-padding no-lines>
            <input [value]="companyForm.controls.company_address.value" type="text" formControlName="company_address"
              disabled placeholder="{{'COMPANY_ADDRESS' | translate}}">
          </ion-item>
          <div *ngIf="companyForm.controls.company_address.value=='' && companyForm.controls.company_address.touched"
            style="margin-top: 8px;" ion-text padding-horizontal color="danger">
            {{'PLEASE_ENTER_COMPANY_ADDRESS' | translate}}</div>
        </div>


        <div style="margin-bottom: 20px !important;">
          <ion-item class="input_1" no-padding no-lines>
            <input type="url" formControlName="company_website" placeholder="{{'COMPANY_WEBSITE' | translate}}">
          </ion-item>
          <div *ngIf="companyForm.controls.company_website.value=='' && companyForm.controls.company_website.touched"
            style="margin-top: 8px;" ion-text padding-horizontal color="danger">
            {{'PLEASE_ENTER_COMPANY_WEBSITE' | translate}}</div>
        </div>

        <div style="margin-bottom: 20px !important;">
          <ion-item style="height: auto !important;" class="input_1" no-padding no-lines>
            <textarea formControlName="company_desc" style="width: 100%;border: 0;height: 60px;" type="text"
              placeholder="{{'ABOUT_COMPANY' | translate}}"></textarea>
          </ion-item>
          <div *ngIf="companyForm.controls.company_desc.value=='' && companyForm.controls.company_desc.touched"
            style="margin-top: 8px;" ion-text padding-horizontal color="danger">
            {{'PLEASE_ENTER_ABOUT_COMPANY' | translate}}</div>
        </div>

        <!-- <p>{{companyForm.get(['passwords','password']) | json}}</p> -->
        <div *ngIf="!navParams.get('SignupData')" formGroupName="passwords">
          <div style="margin-bottom: 20px !important;">
            <ion-item class="input_1" no-padding no-lines>
              <input (keyup)="get()" type="password" formControlName="password"
                placeholder="{{'PASSWORD' | translate}}">
            </ion-item>
            <div
              *ngIf="companyForm.get(['passwords','password']).value=='' && companyForm.get(['passwords','password']).touched"
              style="margin-top: 8px;" ion-text padding-horizontal color="danger">
              {{'PLEASE_ENTER_PASSWORD' | translate}}</div>
            <div
              *ngIf="!companyForm.get(['passwords','password']).valid && companyForm.get(['passwords','password']).value!='' && companyForm.get(['passwords','password']).touched"
              style="margin-top: 8px;" ion-text padding-horizontal color="danger">
              {{'PLEASE_MUST_BE_ATLEAST_6_CHARACTERS' | translate}} </div>

          </div>


          <div style="margin-bottom: 20px !important;">
            <ion-item class="input_1" no-padding no-lines>
              <input type="password" formControlName="confirmP" placeholder="{{'CONFIRM_PASSWORD' | translate}}">
            </ion-item>
            <div
              *ngIf="companyForm.get(['passwords','confirmP']).value=='' && companyForm.get(['passwords','confirmP']).touched"
              style="margin-top: 8px;" ion-text padding-horizontal color="danger">
              {{'PLEASE_ENTER_CONFIRM_PASSWORD' | translate}}</div>
            <div
              *ngIf="companyForm.get(['passwords','password']).value != companyForm.get(['passwords','confirmP']).value && companyForm.get(['passwords','confirmP']).value != '' && companyForm.get(['passwords','confirmP']).touched"
              style="margin-top: 8px;" ion-text padding-horizontal color="danger">
              {{'PASSWORD_DOES_NOT_MATCH' | translate}}</div>
          </div>
        </div>
        <div no-padding class="btn_grp">
          <button [disabled]="!companyForm.valid" ion-button block round color="primary" class="btn-theme"
            (click)="signup()">{{'SIGNUP' | translate}}</button>
        </div>

        <ion-item no-lines no-padding>
          <ion-label style="margin: 11px 8px 11px 8px;">{{'BY_SIGNING_UP_YOU_AGREE_TO' | translate}}&nbsp;<span
              class="color" (click)="privacy()">{{'PRIVACY_POLICY' | translate}}&nbsp;</span>
            {{'AND' | translate}}&nbsp;<span class="color" (click)="terms()">{{'TERMS_OF_USE' | translate}}</span>
          </ion-label>
          <!-- <ion-checkbox color="primary"></ion-checkbox> -->
        </ion-item>

        <ion-item no-lines no-padding>
          <ion-label style="margin: 11px 8px 11px 8px;">{{'ALREADY_HAVE_ACCOUNT' | translate}}&nbsp;<span class="color"
              (click)="login()">{{'LOGIN' | translate}}</span>
          </ion-label>
          <!-- <ion-checkbox color="primary"></ion-checkbox> -->
        </ion-item>
      </ion-list>

    </form>


    <form [formGroup]="influForm" *ngIf="formData.user_type=='2'">

      <ion-list>

        <div style="margin-bottom: 20px !important;">
          <ion-item class="input_1" no-padding no-lines>
            <input type="text" formControlName="first_name" placeholder="{{'FIRST_NAME' | translate}}">
          </ion-item>
          <div *ngIf="influForm.controls.first_name.value=='' && influForm.controls.first_name.touched"
            style="margin-top: 8px;" ion-text padding-horizontal color="danger">
            {{'PLEASE_ENTER_FIRST_NAME' | translate}}</div>
        </div>

        <div style="margin-bottom: 20px !important;">
          <ion-item class="input_1" no-padding no-lines>
            <input type="text" formControlName="last_name" placeholder="{{'LAST_NAME' | translate}}">
          </ion-item>
          <div *ngIf="influForm.controls.last_name.value=='' && influForm.controls.last_name.touched"
            style="margin-top: 8px;" ion-text padding-horizontal color="danger">
            {{'PLEASE_ENTER_LAST_NAME' | translate}}</div>
        </div>

        <div style="margin-bottom: 20px !important;">
          <ion-item class="input_1" no-padding no-lines>
            <input formControlName="email" type="email" placeholder="{{'ENTER_YOUR_EMAIL_ID' | translate}}" 
            [readonly]="is_social==1&&influForm.controls.email.value!=undefined">
          </ion-item>
          <div *ngIf="influForm.controls.email.value=='' && influForm.controls.email.touched" style="margin-top: 8px;"
            ion-text padding-horizontal color="danger">
            {{'PLEASE_ENTER_EMAIL' | translate}}</div>
          <div
            *ngIf="!influForm.controls.email.valid && influForm.controls.email.value!='' && influForm.controls.email.touched"
            style="margin-top: 8px;" ion-text padding-horizontal color="danger">{{'PLEASE_ENTER_VALID_EMAIL' |
            translate}}</div>
        </div>

        <ion-row>
          <ion-col col-6>
            <div style="margin-bottom: 20px !important;">
              <ion-item (click)="OpenAutofillCountry()" class="input_1" no-padding no-lines>
                <input [value]="influForm.controls.country.value" type="text" disabled style="opacity: 1 !important;"
                  formControlName="country" placeholder="{{'COUNTRY' | translate}}">
              </ion-item>
              <div *ngIf="influForm.controls.country.value=='' && influForm.controls.country.touched"
                style="margin-top: 8px;" ion-text padding-horizontal color="danger">
                {{'PLEASE_ENTER_COUNTRY' | translate}}</div>
            </div>
          </ion-col>
          <ion-col col-6>
            <div style="margin-bottom: 20px !important;">
              <ion-item class="input_1" no-padding no-lines>
                <ion-datetime [(max)]='min1' type="text" style="padding-left: 0;" formControlName="dob"
                  placeholder="{{'DATE_OF_BIRTH' | translate}}">
                </ion-datetime>
              </ion-item>
              <div *ngIf="influForm.controls.dob.value=='' && influForm.controls.dob.touched" style="margin-top: 8px;"
                ion-text padding-horizontal color="danger">
                {{'PLEASE_ENTER_DATE_OF_BIRTH' | translate}}</div>
            </div>
          </ion-col>
        </ion-row>

        <div style="margin-bottom: 20px !important;">
          <ion-item class="input_1" no-padding no-lines>
            <ion-label>{{'SELECT_GENDER' | translate}}</ion-label>
            <ion-select placeholder="{{'SELECT_GENDER' | translate}}"
              style="width: 100%;max-width: 100%;padding-left: 0;" formControlName="gender">
              <ion-option value="Male">{{'MALE' | translate}}</ion-option>
              <ion-option value="Female">{{'FEMALE' | translate}}</ion-option>
              <ion-option value="Any">{{'ANY' | translate}}</ion-option>
            </ion-select>
          </ion-item>
        </div>

        <div *ngIf="!navParams.get('SignupData')" formGroupName="passwords">
          <div style="margin-bottom: 20px !important;">
            <ion-item class="input_1" no-padding no-lines>
              <input (keyup)="get()" type="password" formControlName="password"
                placeholder="{{'PASSWORD' | translate}}">
            </ion-item>
            <div
              *ngIf="influForm.get(['passwords','password']).value=='' && influForm.get(['passwords','password']).touched"
              style="margin-top: 8px;" ion-text padding-horizontal color="danger">
              {{'PLEASE_ENTER_PASSWORD' | translate}}</div>
            <div
              *ngIf="!influForm.get(['passwords','password']).valid && influForm.get(['passwords','password']).value!='' && influForm.get(['passwords','password']).touched"
              style="margin-top: 8px;" ion-text padding-horizontal color="danger">
              {{'PLEASE_MUST_BE_ATLEAST_6_CHARACTERS' | translate}} </div>

          </div>


          <div style="margin-bottom: 20px !important;">
            <ion-item class="input_1" no-padding no-lines>
              <input type="password" formControlName="confirmP" placeholder=" {{'CONFIRM_PASSWORD' | translate}}">
            </ion-item>
            <div
              *ngIf="influForm.get(['passwords','confirmP']).value=='' && influForm.get(['passwords','confirmP']).touched"
              style="margin-top: 8px;" ion-text padding-horizontal color="danger">
              {{'PLEASE_ENTER_CONFIRM_PASSWORD' | translate}}</div>
            <div
              *ngIf="influForm.get(['passwords','password']).value != influForm.get(['passwords','confirmP']).value && influForm.get(['passwords','confirmP']).value != '' && influForm.get(['passwords','confirmP']).touched"
              style="margin-top: 8px;" ion-text padding-horizontal color="danger">
              {{'PASSWORD_DO_NOT_MATCH' | translate}}</div>
          </div>
        </div>



        <div style="margin-bottom: 20px !important;">
          <ion-item class="input_1" no-padding no-lines>
            <ion-label>{{'SELECT_CATEGORY' | translate}}</ion-label>
            <ion-select style="width: 100%;max-width: 100%;padding-left: 0;" multiple="true"
              placeholder="{{'SELECT_CATEGORY' | translate}}" formControlName="category">
              <ion-option *ngFor="let item of categories" [value]="item.id">{{item.name}}</ion-option>
            </ion-select>
          </ion-item>
          <div *ngIf="influForm.controls.category.value=='' && influForm.controls.category.touched" style="margin-top: 8px;" ion-text padding-horizontal
            color="danger">
            {{'PLEASE_SELECT_CATEGORY' | translate}}</div>
        </div>

        <ion-item no-lines no-padding>
          <ion-label style="margin: 11px 8px 11px 8px;">{{'BY_SIGNING_UP_YOU_AGREE_TO' | translate}}&nbsp;<span
              class="color" (click)="privacy()">{{'PRIVACY_POLICY' | translate}}&nbsp;</span>
            {{'AND' | translate}}&nbsp;<span class="color" (click)="terms()">{{'TERMS_OF_USE' | translate}}</span>
          </ion-label>
          <!-- <ion-checkbox color="primary"></ion-checkbox> -->
        </ion-item>

        <ion-item no-lines no-padding>
          <ion-label style="margin: 11px 8px 11px 8px;">{{'ALREADY_HAVE_ACCOUNT' | translate}}&nbsp;<span class="color"
              (click)="login()">{{'LOGIN' | translate}}</span>
          </ion-label>
          <!-- <ion-checkbox color="primary"></ion-checkbox> -->
        </ion-item>


        <div no-padding class="btn_grp">
          <button [disabled]="!influForm.valid" ion-button block round color="primary" class="btn-theme"
            (click)="signup()">{{'SIGNUP' | translate}}</button>
        </div>

      </ion-list>
    </form>
  </div>


</ion-content>