page-privacy {
  .back {
    background: #fff;
}
 .back p {
  font-size: 15px;
  line-height: 22px;
}
.header-ios .toolbar-ios:last-child .toolbar-background-ios {
	border-width: 0 0 0.55px;
	background: transparent;
}
}
